<h1>CHat</h1>

<div class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">First Time Login</p>
      <button class="delete"></button>
    </header>
    <section class="modal-card-body">
      <label class="label">Please Provide a password for your account</label>
        <p class="control">
        <input class="input" type="password" [(ngModel)]="password">
        </p>
    </section>
    <footer class="modal-card-foot">
      <a class="button is-primary" (click)="register()">Save changes</a>
    </footer>
  </div>
</div>