<nav class="nav">
  <div class="nav-left">
    <a class="nav-item" href="#">
      <!--<img src="images/title.png">-->
      <h1 class="logotitle">Chat with Me</h1>
    </a>
  </div>
  <div class="nav-right nav-menu">
    <span class="nav-item">

      <a class="button is-primary" (click)="login()" *ngIf="!isLoggedin">
        <span class="icon">
          <i class="fa fa-github"></i>
        </span>
        <span>Login</span>
      </a>
      
      <a class="button is-danger" (click)="logout()" *ngIf="isLoggedin">
        <span class="icon">
          <i class="fa fa-github"></i>
        </span>
        <span>Logout</span>
      </a>
    </span>
  </div>
</nav>

<router-outlet></router-outlet>